!Assets/

Library/
Logs/
Temp/
UserSettings/
.vs/
ProjectSettings/
Packages/
Assets/Scenes/
Assets/GameObject/
Assets/Snapshot/
Assets/Workplace Tools/
Assets/Unity.VisualScripting.Generated/

.DS_Store
*.csproj
*.sln
*.meta
Assets/Script_py/.env
